<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<div class="featured productList">
  <h3>Most Popular</h3>
  {% assign deliveryAndPickupCollection = collections['delivery-pick-up'] %}
  <div class="productsContainer">
  {% for item in deliveryAndPickupCollection.products %}
  {% if forloop.index <= 4 %}
    <div class="gridproduct">
      <div class="product">
        <a class="productimagelink" href="{{ item.url }}">
          <div class="productimage" style="background-image: url({{ item.images[0].src | product_img_url: 'large' }});"></div>
        </a>
        <div class="productdesc">
          <div class="info">
            <h3 class="title">{{ item.title }}</h3>
          </div>
          <div class="options">
            <div class="option price">
                <p>{{ item.price | money }}</p>
            </div>
            <a class="option moreinfo"  href="{{ item.url }}">
                <p>More info</p>
            </a>
            <div class="option add">
                <p>Add to cart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
</div>

<div class="featured productList">
  <h3>More Products</h3>
  {% assign deliveryAndPickupCollection = collections['delivery-pick-up'] %}
  <div class="productsContainer">
  {% for item in deliveryAndPickupCollection.all_products limit:49 %}
  {% if forloop.index > 4 %}
    <div class="gridproduct">
      <div class="product">
        <a class="productimagelink" href="{{ item.url }}">
          <div class="productimage" style="background-image: url({{ item.images[0].src | product_img_url: 'large' }});"></div>
        </a>
        <div class="productdesc">
          <div class="info">
            <h3 class="title">{{ item.title }}</h3>
          </div>
          <div class="options">
            <div class="option price">
                <p>{{ item.price | money }}</p>
            </div>
            <a class="option moreinfo"  href="{{ item.url }}">
                <p>More info</p>
            </a>
            <div class="option add">
                <p>Add to cart</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endfor %}
  </div>
</div>
